<nav class="cb-secondary-header mobile-hide-{{section.id}} secondary__hidden">
  {%- if section.settings.main_menu_alignment == 'before' -%}
     {%- if section.settings.main_url != blank -%}<a href="{{ section.settings.main_url }}">{%- endif -%}
       <h5 style="font-family: 'Open Sans';font-weight: 400;">{{ section.settings.main_text }}</h5>
     {%- if section.settings.main_url != blank -%}</a>{%- endif -%}
  {%- endif -%}
  <div class="secondary-header-links">
    {% for block in section.blocks %}
    	<a style="font-family: 'Open Sans';" href="{{ block.settings.link }}">{{ block.settings.text}}</a>
    {% endfor %}
  </div>
  {%- if section.settings.main_menu_alignment == 'after' -%}
     {%- if section.settings.main_url != blank -%}<a href="{{ section.settings.main_url }}">{%- endif -%}
       <h5 style="font-family: 'Open Sans';">{{ section.settings.main_text }}</h5>
     {%- if section.settings.main_url != blank -%}</a>{%- endif -%}
  {%- endif -%}
  <a class="contact-secondary" href="tel:{{ section.settings.tel | replace: ".", "" | replace: "-", "" | replace: " ", "" }}" style="{%- if section.settings.enable_phone_number == false -%}display: none{%- endif -%}">
    
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    	<path d="M9.55423 5.24101L6.17123 1.33601C5.78123 0.886007 5.06623 0.888007 4.61323 1.34201L1.83123 4.12901C1.00323 4.95801 0.766232 6.18901 1.24523 7.17601C4.10685 13.101 8.88528 17.8861 14.8062 20.756C15.7922 21.235 17.0222 20.998 17.8502 20.169L20.6582 17.356C21.1132 16.901 21.1142 16.182 20.6602 15.792L16.7402 12.427C16.3302 12.075 15.6932 12.121 15.2822 12.533L13.9182 13.899C13.8484 13.9722 13.7565 14.0204 13.6566 14.0363C13.5567 14.0522 13.4543 14.0349 13.3652 13.987C11.1357 12.7031 9.28622 10.8512 8.00523 8.62001C7.95726 8.53076 7.93989 8.42823 7.95578 8.32816C7.97168 8.22809 8.01996 8.136 8.09323 8.06601L9.45323 6.70501C9.86523 6.29101 9.91023 5.65101 9.55423 5.24001V5.24101Z" stroke="#C65824" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  	<span style="font-family: 'Open Sans';">{{ section.settings.tel }}</span>
  </a>
</nav>

{% style %}
.cb-secondary-header {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	place-items: center;
	padding: 5px clamp(20px, 2.5vw, 50px);
	background: #F7F7F7;
}

{%- if section.settings.hide_secondary_menu_on_mobile == true -%}
@media only screen and (max-width: 768px) {
	.mobile-hide-{{section.id}} {
		display: none !important;
	}
}
{%- endif -%}

{%- if template.suffix == 'landing' -%}
    .secondary__hidden{
      display: none;
    }
{%- endif -%}

.cb-secondary-header h5 {
	margin: 0;
	font-size: 16px;
	font-weight: 700;
	
}

.cb-secondary-header h5, .cb-secondary-header a, .cb-secondary-header span {
	font-family: 'Helvetica';
	font-size: 16px;
	
}

.cb-secondary-header .contact-secondary {
	background: white;
	border-radius: 28px;
	padding: 5px 16px;
	justify-self: end;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.cb-secondary-header .secondary-header-links {
	justify-self: start;
}

.cb-secondary-header .secondary-header-links a + a {
	margin-left: 25px;
}

@media (max-width: 767px) {
	.cb-secondary-header {
		grid-template-columns: 1fr;
	}
}
{% endstyle %}

{% schema %}
  {
    "name": "Secondary header",
    "settings": [
		{
        	"label": "Main text",
			"id": "main_text",
			"type": "text"
      	},
        {
          "type": "url",
          "id": "main_url",
          "label": "External URL in Main text"
        },
		{
        	"label": "Telephone",
			"id": "tel",
			"type": "text",
			"default": "+1 888.868.6154"
      	},
		{
        "type": "select",
        "id": "main_menu_alignment",
        "label": "Layout",
        "default": "after",
        "options": [
          {
            "value": "after",
            "label": "Main text after, menu before"
          },
          {
            "value": "before",
            "label": "Main text before, menu after"
          }
        ]
      },
		{
        "type": "checkbox",
        "id": "enable_phone_number",
        "label": "Enable phone number",
        "default": true
      },
	  {
        "type": "checkbox",
        "id": "hide_secondary_menu_on_mobile",
        "label": "Hide secondary Menu on Mobile",
        "default": true
      }
	],
	"blocks": [
		{
			"type": "link",
			"name": "Link",
			"settings": [
				{
					"label": "Link",
					"type": "url",
					"id": "link"
				},
				{
					"label": "Text",
					"type": "text",
					"id": "text"
				}
			]
		}
	],
	"presets": [
      {
        "name": "Secondary header"
      }
  	]
  }
{% endschema %}
